:root{
    --color-dark-cyan: hsl(185, 75%, 39%)
    --color-very-dark-desaturated-blue: hsl(229, 23%, 23%)
    --color-dark-grayish-blue: hsl(227, 10%, 46%)
    --color-dark-gray: hsl(0, 0%, 59%)
    --size-mobile: 375px
    --size-desktop: 1440px
    --font-size: 18px
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-color: var(--color-dark-cyan);
}

.card{
    background-color: tomato;
}